* {
   margin: 0;
   padding: 0;
 }
 
 body {
   background-color: #0d305e;
   color: wheat;
 }
 
 .timer {
   margin: 10px auto;
   display: flex;
   flex-flow: row wrap;
   width: 80%;
   justify-content: space-between;
   border: 1px solid wheat;
   padding: 100px;
 }
 
 .field {
   display: flex;
   flex-flow: column;
   align-items: center;
   border: 1px solid wheat;
   padding: 20px;
   border-radius: 5px;
   margin: 30px;
 }


